body {
    padding-top: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container{
    display: grid;
    grid-template-areas: 
    "head"
    "about";
    grid-template-rows: auto auto;
}

.top-section{
    grid-area: head;
    background-color: dodgerblue ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
    padding-top: 20px;

    color: white;
}

/*#name{
    font-size: 25px;
}*/

#pro-pic{
    border-radius: 50%;
    width: 200px;
}

#profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/*###################################*/

#about-section{
    grid-area: about;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#about{
    padding: 20px 25%;
}

#account-info{
    display: flex;
    flex-direction: row;

    column-gap: 15px;
}

.following{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-section{
    padding-top: 15px;
}

#followBtn{
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 8px 40px;
    color: white;
    border: none;
}