{% extends "base.html" %}

{% block main %}
    <section class="top-section">

        <div id="image">
            <img src="{{url_for('static', filename='chibi akali.jpg')}}" alt="Profile Picture" id="pro-pic"/>
        </div>

        <div id="profile-info">
            <h3 id="name">Ajani Lewis</h3>
            <div id="username">@badAkalimain</div>
            <div id="location">St.Catherine, Jamaica</div>
            <div id="joined">Joined {{date}}</div>
        </div>

    </section>

    <section id="about-section">

        <div id="about">
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Dolores modi mollitia sed saepe accusamus, maiores laboriosam consequuntur 
                quidem ea sapiente a repellendus, laudantium porro molestias accusantium 
                voluptatum animi. Tempore, quos! Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Sapiente consectetur optio et facilis laborum eius atque placeat, 
                facere reprehenderit asperiores assumenda voluptate aliquam neque sint.
            </div>
        </div>

        <div id="account-info">

            <div class="following">
                <div>13</div>
                <div>Posts</div>
            </div>
            
            <div class="following">
                <div>235</div>
                <div>Following</div>
            </div>
            
            <div class="following">
                <div>456</div>
                <div>Followers</div>
            </div>

        </div>

        <div id="btn-section">
            <button id="followBtn">Follow</button>
        </div>

    </section>
{% endblock %}